 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Code</h2>
                    <hr class="icon-kc-logo-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify" id="about-content"></div>
            </div>
            {% include resume.html %}
        </div>
    </section>

<script>    
    $(document).ready(function() {
    // Define spreadsheet URL.
    var mySpreadsheet = 'https://docs.google.com/a/kahunacoder.com/spreadsheets/d/11HGue5jd7wlVVya84FzgtAdkLfbQUAM9rNtXLY_0ZUo/pub?gid=10';

    $('#about-content').sheetrock({
      url: mySpreadsheet,
      query: "select A,B",
      callback: function (error, options, response) {
          //console.log(response);
          $('#about-content').html(marked( response.rows[1].cells.Message ));
      }
    });
    });
</script>