    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" target="social" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                        <a onclick="trackOutboundLink(this.href);" role="button" class="btn btn-secondary-dark btn-sm" target="resume" href="{{ site.resume }}"><i class="icon-kc-logo" style="font-weight:bold;"></i> View my Resume</a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Credits</h3>
                        <p>
                            This site is meant to showcase projects that Gary Smith ( Kahuna Coder <a style="font-size:.7em;color:#fff;" href="javascript:void(0);" title="So who is Kahuna Coder then and what does it mean?" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="Well, Kahuna Coder is my on line handle. I created it to differentiate myself from the thousands of other Gary Smith's on line. Having lived in Hawaii for 35+ years I used a Hawaiian word in my handle that means among other things an expert in any profession. It's interesting how the other meanings of kahuna are priest, sorcerer, magician, wizard, minister. I think the work of most experts can appear magical to the laymen."><sup><i class="fa fa-question"></i></sup></a> ) has worked on. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy;{{ site.title }} {{ site.time | date: '%Y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
