{% if forloop.length > 20 %}
    {% assign fourth = forloop.length | divided_by:4 %}
    {% if forloop.index > fourth %}
        {% assign fourth_more='fourth_more' %}
    {% endif %}
        {% assign half = forloop.length | divided_by:2 %}
    {% if forloop.index > half %}
        {% assign half_more='half_more' %}
    {% endif %}
        {% assign three_fourth = fourth | times:3 %}
    {% if forloop.index > three_fourth %}
        {% assign three_fourth_more='three_fourth_more' %}
    {% endif %}
{% endif %}
<div class="col-sm-4 portfolio-item {{ fourth_more }} {{ half_more }} {{ three_fourth_more }}">
    <a href="{% if post.status == 'publish' %}#portfolioModal-{{ post.projectID }}{% endif %}
" class="portfolio-link" data-toggle="modal">
        {% if post.status == 'publish' %}
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x primary-color"></i>
           </div>
            <div class="jumbotron caption-jumbotron">
                <h4 class="text-center">Technology</h4>
                <div class="text-center">
                {% for tag in post.tags %}
                {{ tag }}{% if forloop.last == false %}, {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <img src="/img/portfolio/{{ post.image }}" class="img-responsive img-grayscale" alt="{{ post.alt }}">
    </a>
</div>
