
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8  col-sm-offset-2">
                <!-- <img class="img-responsive" src="/img/gts.svg" alt=""> -->
                <i class="icon-me_with_hat-green"></i>
                <div class="intro-text">
                    <span class="name">Gary Smith</span>
                    <span class="skills mytitle">Full Stack Web Developer</span>
                    <hr class="icon-kc-logo-light">
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8  col-sm-offset-2 intro-text">
                <div class="text-justify" id="intro-content"></div>
            </div>
        </div>
        {% include resume.html %}
    </div>
</header>

<script>    
    $(document).ready(function() {
    // Define spreadsheet URL.
    var mySpreadsheet = 'https://docs.google.com/a/kahunacoder.com/spreadsheets/d/11HGue5jd7wlVVya84FzgtAdkLfbQUAM9rNtXLY_0ZUo/pub?gid=9';

    $('#intro-content').sheetrock({
      url: mySpreadsheet,
      query: "select A,B",
      callback: function (error, options, response) {
          //console.log(response);
          $('#intro-content').html(marked( response.rows[1].cells.Message ));
      }
    });
    });
</script>