    <!-- Bootstrap Core JavaScript  -->
    <script src="{{ '/js/bootstrap.js' | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ '/js/jquery.easing.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/classie.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/cbpAnimatedHeader.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/svg-polyfill.js' | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ '/js/jqBootstrapValidation.js' | prepend: site.baseurl }}"></script>
<!--     <script src="{{ '/js/contact_me.js' | prepend: site.baseurl }}"></script>
 -->
    <!-- Google Spreadsheet JavaScript -->
    <script src="{{ '/js/sheetrock.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/handlebars.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/marked.min.js' | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ '/js/freelancer.js' | prepend: site.baseurl }}"></script>

<script>
    Handlebars.registerHelper("formatMarkdown", function(content) {
      return new Handlebars.SafeString(marked(content));
    });
    var showMore = function (proj){
        $('.portfolio-item').removeClass(proj);
        $('.show_'+proj).hide();
        if(proj=='fourth_more'){
            $('.show_half_more').show();
        }
        if(proj=='half_more'){
            $('.three_fourth_more').show();
        }
    }
    

    function projectContent(projectID){
        var mySpreadsheet = 'https://docs.google.com/a/kahunacoder.com/spreadsheets/d/11HGue5jd7wlVVya84FzgtAdkLfbQUAM9rNtXLY_0ZUo/pub?gid=0';
        eval("var ContentTemplate_"+projectID+" = Handlebars.compile($('#content-template_'+projectID).text())");

        $('#post_content_'+projectID).sheetrock({
          url: mySpreadsheet,
          query: "select G,H,I,J where A = "+projectID,
          rowTemplate: eval("ContentTemplate_"+projectID)
        });
    }
</script>




