 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.projectID }}" tabindex="-1" role="dialog" aria-hidden="true">
        
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
         {% include project.html button=true %}
       </div>
        <script>    
            $(document).ready(function() {
                project_viewed_{{ post.projectID }} = false;

                $('#portfolioModal-{{ post.projectID }}').on('show.bs.modal', function (e) {
                    if(project_viewed_{{ post.projectID }} == false){
                        //projectContent({{ post.projectID }});
                        project_viewed_{{ post.projectID }} = true;
                    }
                });
            });
        </script>
    </div>
{% endfor %}