   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="icon-kc-logo-nav"></span> {{ site.title }}</a> <a class="navbar-brand" style="font-size:.9em;margin-left: -25px;" href="javascript:void(0);" title="So who is Kahuna Coder then and what does it mean?" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Well, Kahuna Coder is my on line handle. I created it to differentiate myself from the thousands of other Gary Smith's on line. Having lived in Hawaii for 35+ years I used a Hawaiian word in my handle that means among other things an expert in any profession. It's interesting how the other meanings of kahuna are priest, sorcerer, magician, wizard, minister. I think the work of most experts can appear magical to the laymen."><span class="fa fa-question badge"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#code">Code</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#cloud">Tags</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#reviews">Reviews</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
