{% if fourth_more == 'fourth_more' %}
    <div class="row show_fourth_more">
        <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-bottom:2em;">
          <a onclick="showMore('fourth_more');" role="button" class="btn btn-secondary-dark btn-sm btn-resume"><i class="icon-kc-logo" style="font-weight:bold;"></i> Show More Projects</a>
        </div>
    </div>
{% endif %}
{% if half_more == 'half_more' %}
    <div class="row show_half_more">
        <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-bottom:2em;">
          <a onclick="showMore('half_more');" role="button" class="btn btn-secondary-dark btn-sm btn-resume"><i class="icon-kc-logo" style="font-weight:bold;"></i> Show More Projects</a>
        </div>
    </div>
{% endif %}
{% if three_fourth_more == 'three_fourth_more' %}
    <div class="row show_three_fourth_more">
        <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-bottom:2em;">
          <a onclick="showMore('three_fourth_more');" role="button" class="btn btn-secondary-dark btn-sm btn-resume"><i class="icon-kc-logo" style="font-weight:bold;"></i> Show More Projects</a>
        </div>
    </div>
{% endif %}