
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-8  col-sm-offset-2 text-center">
                <h2>Projects</h2>
                <hr class="icon-kc-logo-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8  col-sm-offset-2">
                <div class="text-justify" id="projects-disclaimer"></div>
                <hr class="icon-kc-logo-primary">
            </div>
        </div>
        <div class="row">
            {% for post in site.posts %}
                {% include grid_item.html %}
            {% endfor %}
            {% include pager_buttons.html %}

        </div>
        {% include resume.html %}
    </div>
</section>
<script>    
    $(document).ready(function() {
        var mySpreadsheet = 'https://docs.google.com/a/kahunacoder.com/spreadsheets/d/11HGue5jd7wlVVya84FzgtAdkLfbQUAM9rNtXLY_0ZUo/pub?gid=678730710';
        $('#projects-content').sheetrock({
          url: mySpreadsheet,
          query: "select A,B",
          callback: function (error, options, response) {
              $('#projects-disclaimer').html(marked( response.rows[1].cells.Message ));
          }
        });


    });
</script>


