 <!-- Project Section -->
    <section class="portfolio-item post-page" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 " id="portfolio-content">
                            <h2 class="text-center">{{ page.title }}</h2>
                            <hr class="icon-kc-logo-primary">
                            {% if page.liveurl != null %}
                            <a href="{{ page.liveurl }}" target="_blank" class="modal-link">
                                <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered img-post" alt="{{ page.alt }}">
                            </a>
                            {% else %}
                            <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered img-post" alt="{{ page.alt }}">
                            {% endif %}
                            <div class="text-justify">{{ content }}</div>
                            <ul class="list-inline item-details">
                                <li>Technologies:
                                    {% for tag in page.tags %}
                                    <a href="/technology/{{ tag | slugify }}.html" ><strong>{{ tag}}</strong></a>, 
                                    {% endfor %}
                                
                                </li>
                                <li>Date:
                                    <strong>{{ page.date | date: "%B, %Y" }}</strong>
                                </li>
                                <li>Industries:
                                    {% for categories in page.categories %}
                                    <a href="/industry/{{ categories | slugify }}/" ><strong>{{ categories}}</strong></a>, 
                                    {% endfor %}

                                </li>
                            </ul>
                </div>
            </div>
        </div>
    </section>
