 <!-- Technology Section -->
     <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<div class="intro-text">
	                    <span class="name">{{ page.tag }}</span>
                      <blockquote id="wiki" cite="" class="text-justify" style="padding:0;">
                        <div></div>
                        <footer></footer>
                      </blockquote>
	                    <hr class="icon-kc-logo-light">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8  col-sm-offset-2 intro-text">
                    <div class="text-justify skills " id="tag_info"></div>
                </div>
            </div>
            {% include resume.html %}
        </div>
    </header>

 <!-- Projects Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-8  col-sm-offset-2 text-center">
                    <h2>Projects Using {{ page.tag }}</h2>
                    <hr class="icon-kc-logo-primary">
                </div>
            </div>
            <div class="row">
					{% for post in page.posts random %}
            {% include grid_item.html %}
					{% endfor %}
        </div>
          {% include pager_buttons.html %}
        {% include resume.html %}
    </section>

{% raw %}
  <script id="tag-template" type="text/x-handlebars-template">
      <p>I started using {% endraw %}{{ page.tag }}{% raw %} in {{ cellsArray.[1] }}</p>
      <p>{{ cellsArray.[6] }}</p>
  </script>
{% endraw %}

<script>    
    $(document).ready(function() {
    // Define spreadsheet URL.
    var mySpreadsheet = 'https://docs.google.com/a/kahunacoder.com/spreadsheets/d/11HGue5jd7wlVVya84FzgtAdkLfbQUAM9rNtXLY_0ZUo/pub?gid=3';

    // Compile the Handlebars template for HR leaders.
    var TagTemplate = Handlebars.compile($('#tag-template').html());

    // Load top five HR leaders.
    $('#tag_info').sheetrock({
      url: mySpreadsheet,
      query: "select A,B,C,D,E,F,G where A = '{{ page.tag }}'",
      rowTemplate: TagTemplate,
      callback: function (error, options, response) {
          $('#wiki').attr('cite',response.rows[1].cellsArray[4]);
          $('#wiki div').html(marked( response.rows[1].cellsArray[5] ));
          $('#wiki footer').html('WikiPedia');
      }
    });
    });
</script>